<div class="card">
  <div class="container-fluid">
    <div class="wrapper row">
      <div class="preview col-md-6">

        <div class="preview-pic tab-content">
          <div class="tab-pane active" id="pic"><img src="<%= @product.image%>" /></div>
        </div>
        <% if current_user.try(:admin?) %>
          <div class="action">
            <%= link_to 'Törlés', @product, method: :delete, data: { confirm: 'Biztos törölni akarja a terméket?' }, class:'btn btn-danger' %>
            <%= link_to 'Szerkesztés', edit_product_path(@product), class:'btn btn-primary' %>
          </div>
        <% end %>

      </div>
      <div class="details col-md-6">
        <h3 class="product-title"><%= @product.model%></h3>
        <h4 class="product-title"><%= @product.brand%></h4>
        <h5 class="product-title"><%= @product.category%></h5>
        <p class="product-description"><%= @product.description%></p>
        <h4 class="price"><span><%= number_to_currency(@product.price, unit: "Ft", precision: 0, format: "%n %u") %></span></h4>

        <div class="action">
          <%= button_to 'Kosárhoz adni', line_items_path(product_id: @product), class:'btn btn-primary' %>
          <a href="/" class="btn btn-primary">Vissza</a>
        </div>
      </div>
    </div>
  </div>
</div>